<h2>Drivers</h2>
<button md-raised-button (click)="openDialog()">Add Driver</button>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Late Count</th>
            <th></th>
        </tr>
    </thead>
    <ng-container *ngFor="let dri of drivers">
        <tr>
            <td>{{dri.id}}</td>
            <td>{{dri.name}}</td>
            <td>{{dri.phoneNumber}}</td>
            <td>{{dri.numLateShifts}}</td>
            <td><button md-button><md-icon md-list-icon>mode_edit</md-icon></button></td>
            <td><button md-button><md-icon md-list-icon>delete</md-icon></button></td>
        </tr>
    </ng-container>
</table>
